<?xml version="1.0" encoding="UTF-8"?>
<ContainerSignatureMapping schemaVersion="1.0" signatureVersion="$this.getReportOption('Version')[0]" DateCreated="$this.isoDateTimeNow()" params="$this.getReportOption('pathParts')[2]">
    <ContainerSignatures>
        $this.queryTransformer(
            "http://localhost:8080/odata2sparql/pronom2020/ContainerSignature?$select=label,
            comment,
            containerSignature_ID
            &$expand=containerSignature_ContainerFile(
            $select=filePath;
            $expand=containerFile_ByteSequence(
            $select=
            byteSequenceIndirectOffsetLength,
            byteSequenceIndirectOffsetLocation,
            byteSequenceMaxOffset,
            byteSequenceOffset,
            byteSequenceValue;
            $expand=byteSequence_ByteSequencePosition(
            $select=label)))
            &$format=application/json;odata.metadata=minimal",
            "ContainerSignatures.xsl"
            )
    </ContainerSignatures>
    <FileFormatMappings>
        $this.queryTransformer("http://localhost:8080/odata2sparql/pronom2020/
        ContainerSignature?
        $select=
        label,
        comment,
        containerSignature_ID
        &$expand=containerSignature_FileFormat(
        $select=
        puid)
        &$format=application/json;odata.metadata=minimal",
        "FileFormatMappings.xsl"
        )       
    </FileFormatMappings>
    <TriggerPuids>
        $this.queryTransformer("http://localhost:8080/odata2sparql/pronom2020/
        ContainerType?
        $select=
        label
        &$expand=
        containerType_FileFormat(
        $select=
        puid)
        &$format=application/json;odata.metadata=minimal",
        "TriggerPuids.xsl"
        )        
    </TriggerPuids>
</ContainerSignatureMapping>
